---
layout: wrapper
hero: true
---

{% include hero.html %}

<main class="container">
    <section class="section" id="about">
        {% include section-heading.html number="01" title="An Introduction To Me" %}
        <div class="home-about reveal">
            <div class="home-about__copy">
                <h3 class="home-about__title">Undergraduate Mech/Mech Engineer</h3>
                <p>
                    I'm {{ site.name }} &mdash; a mechanical and mechatronic engineering undergraduate
                    designing hardware for a working aluminium extrusion plant at Capral, and building
                    robotics the rest of the week.
                </p>
                <p>
                    The projects below are case studies: the problem, my contribution, the technical
                    approach, and what the result actually did.
                </p>
                <div class="home-about__cta">
                    <a class="btn btn--solid" href="/about/">More about me</a>
                </div>
            </div>
            <div class="home-about__media" style="--profile-size: 220px; --profile-offset-y: 0px; --profile-x: 50%; --profile-y: 30%;">
                <img src="/assets/images/profile-image/Image.jpg" alt="{{ site.name }}">
            </div>
        </div>
    </section>

    <section class="section" id="projects">
        {% include section-heading.html number="02" title="Featured Projects" %}
        {% include featured-projects.html %}
    </section>

    <section class="section" id="skills">
        {% include section-heading.html number="03" title="Skills" %}
        {% include skills.html %}
    </section>

    <section class="section" id="experience">
        {% include section-heading.html number="04" title="Experience" %}
        {% include experience-timeline.html %}
        <div class="section-more"><a href="/about/">FULL EXPERIENCE &rarr;</a></div>
    </section>

    <section class="section" id="contact">
        {% include section-heading.html number="05" title="Contact" %}
        {% include contact.html %}
    </section>
</main>
