---
layout: wrapper
hero: true
---

{% include hero.html %}

<main class="container">
    <section class="section" id="projects">
        {% include section-heading.html number="01" title="Featured Projects" %}
        {% include featured-projects.html %}
    </section>

    <section class="section" id="skills">
        {% include section-heading.html number="02" title="Skills" %}
        {% include skills.html %}
    </section>

    <section class="section" id="contact">
        {% include section-heading.html number="03" title="Contact" %}
        {% include contact.html %}
    </section>
</main>
